<table class = "table" style="margin: 0 auto;">
  <thead>
  <tr>
    <th>Task Type</th>
    <th id = 'numTasks'>Number of Tasks</th>
    <th id = 'numDaysOnHold'>Number of Days on Hold</th>
    <th id = 'numDaysSpent'>Number of Days Spent</th>
    <th id = 'avgDaysSpent'>Average Days Spent</th>
    <th id = 'avgDaysOnHold'>Average Days on Hold</th>
  </tr>
  </thead>

  <tbody>
  <% @data.each do |d| %>
      <tr>
        <td><%= d.fetch(:task_type) %></td>
        <td><%= d.fetch(:num_tasks) %></td>
        <td><%= d.fetch(:days_on_hold) %></td>
        <td><%= d.fetch(:num_days) %></td>
        <td><%= (d.fetch(:num_days) / d.fetch(:num_tasks).to_f).round(2) %></td>
        <td><%= (d.fetch(:days_on_hold) / d.fetch(:num_tasks).to_f).round(2) %></td>
      </tr>

  <% end %>
  </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function()
            {
                $("table").tablesorter();
            }
    );
</script>