<div class = 'index'>

    <h1><%= link_to "#{@project.name} - Burn-Up Chart", root_url %></h1>
  <%= link_to "Back", :back, class: "link" %>
  <%= link_to 'Project Tasks', project_tasks_path(@project), class: "link" %>
  <%= link_to 'Edit Project', edit_project_path(@project), class: "link" %>

    <table>
      <tr>
        <td><%= render 'table' %></td>
        <td width = 40></td>
        <td><%= render 'pie' %></td>
      </tr>
    </table>

    <%= render 'chart_eightweeks' %>
    <br>

    <%= render 'chart_sixmonths' %>
    <br>


      <br>
   <%= link_to "Back", :back, class: "link" %>
   <%= link_to 'Project Tasks', project_tasks_path(@project), class: "link" %>
   <%= link_to 'Edit Project', edit_project_path(@project), class: "link" %>

</div>