<h1>Listing/Adding tasks</h1>

<% @task = Task.new %>
<%= render 'tasks/form' %>

<br>

<table border = "1" class = "task_data">
  <thead>
  <tr>
    <th>Tasktype</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Days on hold</th>
    <th>Reason on hold</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
      <tr>
        <td><%= task.tasktype %></td>
        <td><%= task.start_date %></td>
        <td><%= task.end_date %></td>
        <td><%= task.days_on_hold %></td>
        <td><%= task.reason_on_hold %></td>
        <td><%= link_to 'Edit', project_tasks_path.to_s + '/' +  task.id.to_s + '/edit' %></td>
        <td><%= link_to 'Delete', project_tasks_path.to_s + '/' +  task.id.to_s , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back", projects_path %>


