<h1><%= @project.name %></h1>

<% @task = Task.new %>
<%= render 'tasks/form' %>

<br>

<table border = "1" class = "task_data">
  <thead>
  <tr>
    <th>Task Type</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Days on Hold</th>
    <th>Reason on Hold</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
      <tr>
        <td><%= task.tasktype %></td>
        <td><%= task.start_date %></td>
        <td><%= task.end_date %></td>
        <td><%= task.days_on_hold %></td>
        <td><%= task.reason_on_hold %></td>
        <td><%= link_to 'Edit', edit_project_task_path(:project_id => task.project.name, :id => task.id) %></td>
        <td><%= link_to 'Delete', project_tasks_path.to_s + '/' +  task.id.to_s , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= form_tag import_project_tasks_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
<%end %>

<%= link_to 'Chart', project_task_time_table_index_path %> <br><br>
<%= link_to "Back", projects_path %>


