<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table>
      <tr>
        <td><strong><%= f.label :name %>:</strong></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><strong>Created Date:</strong></td>
        <td><%= f.date_select :created_date,  order: [:month, :day, :year] %></td>
      </tr>
      <tr>
        <td><strong>Target Release Date:</strong></td>
        <td><%= f.date_select :release_date,  order: [:month, :day, :year] %></td>
      </tr>
      <tr>
        <%= fields_for @scope_change do |fa| %>
            <table>
              <tr>
                <td><%= fa.label :scope, "Initial Scope:"%></td>
              </tr>
              <tr>
                <td><%= fa.number_field :scope, :value => 0, :min => 0 %></td>
              </tr>

            </table>
        <% end %>
      </tr>
    </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
